.plantinfo {
    font-style: italic;
    font-size: 12px;
    line-height: 15px;
    flex:50%;
  }
.plantstatus{
  font-size: 12px;
  line-height: 15px;
  flex:50%;
}
.row{
  display: flex;
}
.card {
  padding: 20px;
  margin: 10px;
  background: rgba(255, 155, 5, 0.15);
  font-family: 'Arial';
  font-style: normal;
}
.button {
  margin:10px;
}